:root {
  --primary: #ff2ebd;
  --secondary: #b1006f;
  --accent: #ff58d3;
  --background-dark: #000000;
  --background-light: #ffffff;
  --text-light: #ffffff;
  --text-dark: #000000;
  --primary-rgb: 255, 46, 189;
  --secondary-rgb: 177, 0, 111;
  --accent-rgb: 255, 88, 211;
}
