<div class="container">
  <div class="sidebar">
    <img src="/assets/logo.jpg" alt="AutoWash Hub Logo" class="logo" />
    <ul class="nav-links">
      <li>
        <a routerLink="/customer/services-pricing">💰 Services & Pricing</a>
      </li>
      <li>
        <a routerLink="/customer/tranaction-hitory">📜 Transaction History</a>
      </li>
      <li><a routerLink="/customer/appointment">📅 Appointment</a></li>
    </ul>
  </div>

  <div class="content">
    <header class="header">
      <div class="menu-icon">☰</div>
      <h2>Services & Pricing</h2>
      <div class="user-info">
        <img src="assets/logo.jpg" alt="User Avatar" class="user-avatar" />
        <span class="user-name">Mark Aducal</span>
        <button class="dropdown-btn" (click)="toggleDropdown()">▼</button>
        <div class="dropdown-menu" [class.show-dropdown]="showDropdown">
          <a class="dropdown-item" routerLink="/customer/profile">
            <i class="profile-icon">👤</i> View Profile
          </a>
          <a class="dropdown-item" (click)="logout()">
            <i class="logout-icon">🚪</i> Logout
          </a>
        </div>
      </div>
    </header>
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
