<div class="container">
  <div class="sidebar">
    <img src="assets/logo.jpg" alt="AutoWash Hub Logo" class="logo" />
    <ul class="nav-links">
      <li>
        <a routerLink="/admin/dashboard" routerLinkActive="active"
          >📊 Dashboard</a
        >
      </li>
      <li>
        <a routerLink="/admin/washing-point" routerLinkActive="active"
          >🚿 Washing Point</a
        >
      </li>
      <li>
        <a routerLink="/admin/car-wash-booking" routerLinkActive="active"
          >🗓️ Car Wash Booking</a
        >
      </li>
      <li>
        <a routerLink="/admin/inventory-management" routerLinkActive="active"
          >📦 Inventory Management</a
        >
      </li>
      <li>
        <a routerLink="/admin/employee-management" routerLinkActive="active"
          >👨‍💼 Employee Management</a
        >
      </li>
      <li>
        <a routerLink="/admin/user-management" routerLinkActive="active"
          >👥 User Management</a
        >
      </li>
      <li>
        <a routerLink="/admin/manage-enquiries" routerLinkActive="active"
          >❓ Manage Enquiries</a
        >
      </li>
      <li>
        <a routerLink="/admin/reporting" routerLinkActive="active"
          >📈 Reporting</a
        >
      </li>
      <li>
        <a routerLink="/admin/pages" routerLinkActive="active">📄 Pages</a>
      </li>
    </ul>
  </div>

  <div class="content">
    <header class="header">
      <div class="menu-icon">☰</div>
      <h2>Admin Dashboard</h2>
      <div class="user-info">
        <img src="assets/logo.jpg" alt="User Avatar" class="user-avatar" />
        <span class="user-name">Admin Name</span>
        <button class="dropdown-btn" (click)="toggleDropdown()">▼</button>
        <div class="dropdown-menu" [class.show-dropdown]="showDropdown">
          <a class="dropdown-item" routerLink="/admin/profile">
            <i class="profile-icon">👤</i> View Profile
          </a>
          <a class="dropdown-item" (click)="logout()">
            <i class="logout-icon">🚪</i> Logout
          </a>
        </div>
      </div>
    </header>
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
