<div class="container">
  <div class="sidebar">
    <img src="assets/logo.jpg" alt="AutoWash Hub Logo" class="logo" />
    <ul class="nav-links">
      <li>
        <a routerLink="/employee-view/dashboard" routerLinkActive="active"
          >📊 Dashboard</a
        >
      </li>
      <li>
        <a routerLink="/employee-view/appointments" routerLinkActive="active"
          >📅 Appointments</a
        >
      </li>
      <li>
        <a routerLink="/employee-view/wash-services" routerLinkActive="active"
          >🚗 Wash Services</a
        >
      </li>
      <li>
        <a
          routerLink="/employee-view/customer-records"
          routerLinkActive="active"
          >👥 Customer Records</a
        >
      </li>
      <li>
        <a routerLink="/employee-view/inventory" routerLinkActive="active"
          >📦 Inventory</a
        >
      </li>
      <li>
        <a routerLink="/employee-view/time-tracking" routerLinkActive="active"
          >⏱️ Time Tracking</a
        >
      </li>
      <li>
        <a routerLink="/employee-view/profile" routerLinkActive="active"
          >👤 My Profile</a
        >
      </li>
    </ul>
  </div>

  <div class="content">
    <header class="header">
      <div class="menu-icon">☰</div>
      <h2>Employee Dashboard</h2>
      <div class="user-info">
        <img src="assets/logo.jpg" alt="User Avatar" class="user-avatar" />
        <span class="user-name">Employee Name</span>
        <button class="dropdown-btn" (click)="toggleDropdown()">▼</button>
        <div class="dropdown-menu" [class.show-dropdown]="showDropdown">
          <a class="dropdown-item" routerLink="/employee-view/profile">
            <i class="profile-icon">👤</i> View Profile
          </a>
          <a class="dropdown-item" (click)="logout()">
            <i class="logout-icon">🚪</i> Logout
          </a>
        </div>
      </div>
    </header>
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
